html {
  background-color: #eee;
  background-image: url("/images/cream-pixels.png");
}

* {
  font-family: 'Inconsolata', arial, georgia;
  color: black;
  font-weight: lighter;
  border-radius: 3px;
  color: black;
}

.group:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  margin-top: 5px;
}

.header .logo-side {
  float: left;
  width: 200px;
}

.header .site-title {

  margin-bottom: 0px;
}

.header .site-subtitle {
  margin-top: 5px;
}

.ad {
  background-color: #636363;
  border-radius: 0px;
}

.ad-size-728x90 {
  width: 728px;
  height: 90px;
}

.content {
  padding: 30px 0;
}

.content ul.charsets {
  padding: 0;
  margin: 10px 0;
  width: 100%;
  display: block;
}

.content .charsets li {
  float: left;
  display: block;
  text-align: center;
  padding: 8px 10px;
  background-color: #000000;
  margin: 5px;
  font-size: 13px;
  transition: all 0.1s linear;
  color: #ECECEC;
  cursor: pointer;
}

.content .charsets li:hover {
  background-color: #C3C3C3;
  color: white;
}

.content .charsets li:active {
  background-color: #B9B9B9;
  color: black;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color=#000000)";/*IE 8*/
  -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1) inset;/*FF 3.5+*/
  -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1) inset;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1) inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.content .charsets li:first-child {
  margin-left: 0px;
}

.formbox {
  display: block;
  width: 49%;
}

.formbox label {
  font-size: 19px;
  margin-bottom: 4px;
}

.formbox label:first-child {
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
}

.formbox button {
  margin: -1px 0 0 1px;
  background-color: #CACACA;
  border: none;
  padding: 7px 16px;
  font-size: 16px;
  outline: none;
  -webkit-border-radius: 0 0 3px 3px;/*Safari, Chrome*/
  -moz-border-radius: 0 0 3px 3px;/*Firefox*/
  border-radius: 0 0 3px 3px;
}

.formbox button:hover {
  background-color: #ABAAAA;
}

.formbox button:active {
  background-color: #A2A2A2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color=#000000)";/*IE 8*/
  -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2) inset;/*FF 3.5+*/
  -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2) inset;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2) inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000); /*IE 5.5-7*/
}

textarea {
  border: 1px solid #eee;
  margin-right: 5px;
  display: block;
  width: 100%;
  height: 150px;
  font-weight: lighter;
  padding: 10px;
  color: black;
  background-color: #eee;
  box-sizing: border-box;
  -webkit-border-radius: 3px 3px 0 0;/*Safari, Chrome*/
  -moz-border-radius: 3px 3px 0 0;/*Firefox*/
  border-radius: 3px 3px 0 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color=#000000)";/*IE 8*/
  -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3) inset;/*FF 3.5+*/
  -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3) inset;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3) inset;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.copied-note {
  background-color: #9FFF9F;
  float: right;
  padding: 5px 15px;
  margin-top: -1px;
  margin-left: 1px;
  color: #003A00;
  display: none;
}
