<div class="container" ng-controller="MainCtrl">
  <div class="content">

    <div class="forms-container group">

      <div class="formbox form-decoded pull-left" >
        <label>Human Readable</label>
        <textarea id="human" ng-model="human" placeholder="Type, Paste, or View results."></textarea>
        <label class="copied-note">Copied To Clipboard!</label>
      </div>

      <div class="formbox form-encoded pull-right">
        <label>Base64 Encoded</label>
        <textarea id="encoded" ng-model="encoded" placeholder="Type, Paste, or View results."></textarea>
        <label class="copied-note">Copied To Clipboard!</label>
      </div>
    </div>

  </div>
</div>
