<div class="container">
  <div class="content">

    <ul class="charsets group">
      <li>UTF-8</li>
      <li>ASCII</li>
      <li>CP1256</li>
      <li>ISO-8859-1</li>
      <li>ISO-8859-2</li>
      <li>ISO-8859-6</li>
      <li>ISO-8859-15</li>
      <li>Windows-1252</li>
    </ul>

    <div class="forms-container group">
      <form class="form-decoded pull-left" >
        <textarea placeholder="Type or Paste your string here."></textarea>
      </form>

      <form class="form-encoded pull-right">
        <textarea placeholder="Paste or view results here."></textarea>
      </form>
    </div>

  </div>
</div>
